{% extends "base.html" %}
{% block content %}

<h1>Add books </h1>
<style>
    body {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzjwGvJs7EXM7CqrEGt6J6Yts2sChRQZSP4A&usqp=CAU');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-size: 100% 100%;
}
  </style>

<div class="container container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12 col-xxl-12">
            <form action="" method="post">
                <table class="table table-borderless">
                    <tr>
                        <td>book name</td>
                        <td><input name="name" class = "form-control" type="text"> </td>
                    </tr>
                    <tr>
                        <td>author</td>
                        <td><input name="author" class = "form-control" type="text"> </td>
                    </tr>
                        <tr>
                        <td>category</td>
                        <td><input name="cat" class = "form-control" type="text"> </td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td><input name="price" class = "form-control" type="text"> </td>
                    </tr>
                    <tr>
                        <td>publisher</td>
                        <td><input name="pub" class = "form-control" type="text"> </td>
                    </tr>
                    <tr>
                        <td><button  class="btn btn-success"type = "submit" >Add</button></td>
                    </tr>
                    </table>
            </form>

        </div>

    </div>
</div>
{% endblock %}