{% extends "base.html" %}
{% block content %}
<style>
    body {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzjwGvJs7EXM7CqrEGt6J6Yts2sChRQZSP4A&usqp=CAU');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-size: 100% 100%;
}
  </style>

<h1>View  books </h1>
<div class="container">
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Book Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Publisher</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for i in bookss %}
                    <tr>
                        <th scope="row">{{i[1]}}</th>
                            <td>{{i[2]}}</td>
                            <td>{{i[3]}}</td>
                            <td>{{i[4]}}</td>
                            <td>{{i[5]}}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}